{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h3>Busca el libro que desees</h3>
    <form action="/search" method="GET">
        <div class="form-group">
            <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp" placeholder="ISBN, Titulo o Autor">
            <small id="bookHelp" class="form-text text-muted">Ejemplo: 0375508325, Cosmos o Carl Sagan</small>
        </div>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
{% endblock %}